# Environment
.env
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Python packaging
*.egg-info/


# Build and Distribution
build/
dist/
*.spec

# Local Configs
config/user_config.json

# Tool Specific
.claude/